@{
    ViewData["Title"] = "UpdatePost";
}
@model dynamic

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 " onclick="location.href='@Url.Action("Index", "Home")'">
        <div class="container-fluid">
            <a href="#" class="h2 mx-auto h2 mx-auto text-decoration-none link-dark">Blog - Update Post</a>
        </div>
    </nav>
</header>

<div class="form-group">
    <div>
        <h3>Update Post</h3>
    </div>

    <form action="~/Crud/UpdatePost" method="POST">
        <div>
            <label>Title</label>
            <input type="text" name="newTitle" value="@ViewBag.oldTitle" required />
            <input type="hidden" name="oldTitle" value="@ViewBag.oldTitle" />
        </div>
        <div>
            <label>Category</label>
            <select name="newCategory" required>
                <option value="">Select a category</option>
                @foreach (var category in ViewBag.categoryList)
                {
                    if (@category.title == ViewBag.oldCategory)
                    {
                        <option value="@category.title" selected>@category.title</option>
                    } else
                    {
                        <option value="@category.title">@category.title</option>
                    }
                }
            </select>
        </div>
        <div>
            <label>Publication Date</label>
            <input type="date" name="newPublicationDate" value="@ViewBag.oldPublicationDate"  required />
        </div>
        <div>
            <label>Content</label>
            <textarea class="form-control" name="newContent" rows="3" value="" required>@ViewBag.oldContent</textarea>
        </div>

        <input type="submit" class="btn btn-primary" value="Save" />
    </form>
    <form action="~/Crud/DeletePost" method="POST">
        <input type="hidden" name="oldTitle" value="@ViewBag.oldTitle" />
        <input id="deleteButton" type="button" class="btn btn-danger" value="Delete" onclick="confirmDelete()" />
    </form>

    <script>
        function confirmDelete() {
            if (confirm("Are you sure ?")) {
                $("#deleteButton").attr("type", "submit");
                $("#deleteButton").removeAttr("onclick");
                $("#deleteButton").click();
            }
        }
    </script>
</div>